body {
    background-color: rgb(212, 139, 139);
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;            
    margin: 0;       
}


#container {
    display: flex;
    flex-wrap:wrap;
    max-width: 500px;
    margin: 0 auto;
}

.grid-square {
    width: 28px;
    height: 28px;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid rgba(0, 0, 0, 0.398);
    transition: background-color 0.3s ease;
}

.grid-square:hover {
    background-color: rgb(180, 147, 149);
}